body, html {
    height: 100%;
}
#dino {
    width: 128px;
    height: 100px;
    background-image: url('../images/dinoCorrendo.gif');
    position: absolute;
    bottom: 20%;
    margin-left: 5%;
}
.cactus {
    width: 45px;
    height: 60px;
    background-image: url('../images/cactus.png');
    position: absolute;
    bottom: 20%;
}
#cena {
    background-image: url('../images/cenario2.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
.gameOverText {
    text-align: center;
    padding-top: 5%;
}
.conatiner {
    height: 100%;
}
#score {
    text-align: center;
}
#time {
    text-align: center;
}